<div>
    <div>
        <h3>About</h3>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">Created by:</div>
        <div class="col-md-9 col-xs-7"><a href="http://twitter.com/sunilppandey" target="_blank">Sunil Pandey</a></div>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">Blog:</div>
        <div class="col-md-9 col-xs-7"><a href="http://kleintechnik.blogspot.in" target="_blank">kleintechnik.blogspot.in</a></div>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">GitHub:</div>
        <div class="col-md-9 col-xs-7"><a href="https://github.com/sunilppandey/" target="_blank">https://github.com/sunilppandey/</a></div>
    </div>
</div>
